# IntelliJ
.idea/
*.iml

# macOS
.DS_Store

# Maven
**/target/

# Logs
*.log

# Environment
.env
**/application-local.properties

# Nexora Design & Doc Files
.agents/
docs/
nexora_brand_guide.html
nexora_brand_guide.pdf